ul{
    padding: 0;
    margin: 0;
    display: flex;
    list-style: none;
}
ul li a{
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.6em;
    padding: 15px;
    color: aliceblue;
    border-bottom: 4px solid transparent;
    transition: all ease 0.8s;
}
ul li a:hover{
    border-bottom: 4px solid white;
}
.open-menu-icon{
    font-size: 1.8em;
    display: none;
    color: white;
    padding: 15px 20px;
    border-radius: 10px;
    transition: all ease 0.8s;
}
.open-menu-icon:hover{
    background-color: rgba(255, 255, 255, 0.25);
}
@media only screen and (max-width: 640px) {
    ul li a{
        display: none;
    }
    .open-menu-icon{
        display: block;
    }
}